@import url(./reset.css);
:root{
    --primary-color:#E40BCB;
    --secondary-color:#C11E31;
    --button-hover:#e4283e;
    --shade-color:#56509F;
    --white: #fff;
    --nav-foot:#273272;
    --text:#ff5b14;
    --fbox:#f5f4f4;
}
body{
    font-family: Outfit,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-color: var(--nav-foot);
}
.mobilenav{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    height: 80px;
}
.logo img{
    height: 100%;

}
button{
    color: var(--white);
    font-size: 40px;
}
.hero{
    background: rgba(0, 0, 0, 0.8) url(./assets/images/hero\ back.jpg);
    height: 70vh;
    min-width: 100%;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
}
.herotext{
    position: absolute;
    line-height: 1.5;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: calc(50vh - 300px) ;
    /* left: calc(60% - 667px); */
    
    
}
.herowelcome{
    color: white;
    /* font-family: cursive; */
    font-size: 20px;
    background-color: var(--primary-color);
    padding: 10px 20px;
    display: inline-block;
}
.herotitle{
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--text);
    letter-spacing: 1.2px;
    display: inline-block;
    text-shadow: 5px 5px 5px var(--white);
    padding-top: 10px;

}
.herolast{
    font-size: 1.8rem;
    color: white;
    display: inline-block;

}
.herobtn{
    margin-top: 10%;
}
.admission{
    background-color: var(--secondary-color);
    padding: 10px 20px;
    font-size: 30px;
}

/* Message fro CHairman */
.message{
    width: 90%;
    margin: auto;
    padding: 20px 0;
}
.globalhead{
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondary-color);
    text-align: center;

}
.chairmaninfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2px;
}
.chairmantext{
    width: 50%;
}
.chairmanname{
    color: var(--nav-foot);
    font-weight: 600;
}
.chairmanpos{
    color: var(--text);
    font-size: 12px;

}
.chairmanphoto{
    width: 50%;
}
.chairmanlink{
    font-size: 12px;
    color: var(--secondary-color);
}
.chairmanphoto img{
    width: 100%;
}
/* Features */
.globalsub{
    color: var(--text);
    text-align: center;
    font-size: 20px;
}
.features{
    width: 90%;
    margin: auto;
    padding: 20px 0;
}
.featurecontainer{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.itembox{
    background-color: var(--fbox);
    padding: 10px 5px;
}
.boxicon{
    text-align: center;
    font-size: 50px;
    color: var(--secondary-color);
}
.boxtitle{
    color: var(--text);
    font-weight: 600;
    text-align: center;
}
.boxpara{
    text-align: center;
    color: var(--shade-color);
    padding: 10px;
    font-size: 18px;
}
/* ECA */
.eca{
    width: 90%;
    margin: auto;
}
.ecaitems{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    flex-wrap: wrap;
    gap: 10px;

}
.ecaname{
    flex-basis: 30%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}